body{
    background-color: lightcyan;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: firebrick;
    font-family: cursive;
    border: 5px solid blue;
}
article{
    font-style: italic;
    font-family: cursive;
    padding: 10px;
    margin: 40px;
    background-color: hsl(241, 31%, 73%);
    color: blue;
    border-radius: 10px;
    border-color: rgb(21, 104, 160);
    border-style: solid ;
}
img{
    border-radius: 5%;
}