body{
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: cursive;
    height: 100vh;
}

.nav{
   position: relative;
   width: 500px;
   margin: 50px auto;
}

main{
 border: 1px solid black;
 width: 700px;
 padding: 10px;
 margin: 0 auto;   
 background-color: azure;
}

/*.purple{
    position: relative;
    width: 500px;
    height: 50px auto;
}*/

article{
    font-style: italic;
    font-family: cursive;
    padding: 30px;
    margin: 0px;
    background-color: hsl(241, 31%, 73%);
    color: blue;
    border-radius: 0px;
    border-color: rgb(21, 104, 160);
    border-style: none;
}

.right-container{
    position: absolute;
    top: 100px;
    bottom: 0px;
    right: 20px;
    width: 20%;
    height: 600px;
    background-color: violet;
}

.circle{
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    border-radius: 50%;
}

footer{
    background-color: blueviolet;
    height: 120px;
    margin: 5px;
}